.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}

.Imagem{
    width: 80px!important;
    height: 60px!important;
}

.titulo{
    font-size: 10px;
    color: rgb(47,79,79);
    margin-bottom: 7px;
    text-align: center;
}

@media screen and (min-width:1024px) {

.titulo{
    display: block;
    font-size: 20px;
}
.Imagem{
    height: 10px;
    border-top: 5px solid rgb(47,79,79);
    border-bottom: 5px solid rgb(47,79,79);
    border-left: 5px solid rgb(47,79,79);
    border-right: 5px solid rgb(47,79,79);
    width: 180px!important;
    height: 160px!important;
}
}
